.footer{
    border-top:1px solid $gray;
    padding-top: 30px;
    padding-bottom: 20px;
    .logo{
        width: 179px;
        height: 48px;
    }
}
.box-footer{
    display: flex;
    justify-content: space-between;
    &-item{
        display: flex;
        justify-content: space-between;
        flex: 0 0 60%;
    }
}
.box-footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
